
#BENCH=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/bench
#EXBAM=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/exome/6622CY001205.dedup.bam
#EXOME=EXOMEtest
#EXVCF=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/benchtestdata/HnoGF_6622CY001205_annotated_variants.vcf.gz
#VCFPROM=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/vc/clair3/merge_output.vcf_raw.norm.vcf.gz
#SAMPLE=noGPnoLQ_6622CY001205
#OUTPUT_DIR=${BENCH}/happy


#export HGREF=/media/eservant/HDD_12To_31/ref/hg38_exclusion/GRCh38.p13.GRC_exclusions_T2Tv2.fa


#BENCH=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/bench_6620CY000167
#EXBAM=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/benchtestdata/6620CY000167.dedup.bam
#EXOME=EXOMEtest
#EXVCF=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/benchtestdata/6620CY000167_raw_variants.norm.vcf.gz
#VCFPROM=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/benchtestdata/merge_output.vcf.gz
#SAMPLE=6620CY000167
#OUTPUT_DIR=${BENCH}/happy

#BENCH=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/bench_noGPnoLQ_6620CY000167
#EXBAM=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/benchtestdata/6620CY000167.dedup.bam
#EXOME=EXOMEtest
#EXVCF=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/benchtestdata/HnoGF_6620CY000167_annotated_variants.vcf.gz
#VCFPROM=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/benchtestdata/30X_truth_noLQ_merged.vcf.gz
#SAMPLE=noGPnoLQ_6620CY000167
#OUTPUT_DIR=${BENCH}/happy



BENCH=/media/eservant/HDD_12To_31/Promethion/Promethion_SQKLSK110_fusion/bench
EXBAM=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/exome/6622CY001205.dedup.bam
EXOME=EXOMEtest
EXVCF=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/benchtestdata/HnoGF_6622CY001205_annotated_variants.vcf.gz
VCFPROM=/media/eservant/HDD_12To_31/Promethion/LongRead_SQK-LSK114_20022023/vc/clair3/merge_output.vcf_raw.norm.vcf.gz
SAMPLE=noGPnoLQ_6622CY001205
OUTPUT_DIR=${BENCH}/happy


export HGREF=/media/eservant/HDD_12To_31/ref/hg38_exclusion/GRCh38.p13.GRC_exclusions_T2Tv2.fa